<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%=@user.forename unless @user.nil?%> </h1>
    <p>
      Unfortunately your request for an activity <%= @activity.title %> has been rejected.
    </p>
    <p>
      This has happened because <%= @message %>
    </p>
  </body>
</html>
