.container
  .row
    .col-sm-4
      .dash_utilities
        =image_tag "Activity.png", class: "img-responsive"
        %h2 Activity requests
        %p Accept and reject requests for events or resources here
        = link_to 'Manage', 'admin/requests/show', class:'btn btn-default'

    .col-sm-4
      .dash_utilities
        =image_tag "Users.png", class: "img-responsive"
        %h2 User manage
        %p Manage user accounts here
        = link_to 'Manage', admin_users_path, class:'btn btn-default'
    .col-sm-4
      .dash_utilities
        =image_tag "Admin.png", class: "img-responsive"
        %h2 Admin invite
        %p Invite people to become admins here
        = link_to 'Manage', class:'btn btn-default'
