.container
  .row
    .row2
      .col-sm-5
        .dash_utilities1
          %a.block{:href => "/admin/requests/show", :title => "Manage Requests"}
            =image_tag "Activity.png", class: "img-responsive center-block"
            %h2 Manage Requests
            %p Accept and reject requests for events or resources.
            %span.bold
      .col-sm-5
        .dash_utilities2
          %a.block{:href => "/admin/users/show", :title => "User Manage"}
            =image_tag "Users.png", class: "img-responsive center-block"
            %h2 User Manage
            %p Manage user accounts.
            %span.bold
      .col-sm-5
        .dash_utilities3
          %a.block{:href => "/admin/registrations/new", :title => "Admin Invite"}
            =image_tag "Admin.png", class: "img-responsive center-block"
            %h2 Admin Invite
            %p Invite people to become admins.
            %span.bold
      .col-sm-5
        .dash_utilities4
          %a.block{:href => "/admin/preferences/index", :title => "Edit Preference Options"}
            =image_tag "Preference.png", class: "img-responsive1 center-block"
            %h2 Edit Preference Options
            %p Add/Edit/Delete Subjects, Themes, Delivery methods, and Ages.
            %span.bold
