.container
  .row
    %h1 Help page
    %h4 Here you can find guidance on how to operate the system
  .row
    .panel-group
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-toggle" => "collapse", :href => "#admin"} How to: Add Admin
        .panel-collapse.collapse.in{:id => "admin"}
          .panel-body
            .col-sm-6
              %p 1. Click on dashboard
              %p 2. Follow 'Manage Admins'
              %p 3. Fill in "Email" with their email
              %p 4. Fill in "Password" with any password. This will be their admin password, which they can change
              %p 5. Tell them their log in details
              %p 6. Tell them to log in, then click 'Account' to change their password
            .col-sm-6
        .panel-heading
          %h4.panel-title
            %a{"data-toggle" => "collapse", :href => "#ar"} How to: Approve/Reject
        .panel-collapse.collapse.in{:id => "ar"}
          .panel-body
            .col-sm-6
              %p 1. Click on dashboard
              %p 2. Follow 'Manage Requests'
              %p 3. Under pending requests are those ready to be approved
              %p 4. These will only be searchable if they're approved
              %p 5. To approve an email, click 'Approve'
              %p 6. To reject an email, click 'Reject', and fill in "Message field"
              %p 7. Both of these will send an email to the submitter. What is entered in the "Message"
              field will be emailed to them as the reason their submission was rejected
            .col-sm-6

        .panel-heading
          %h4.panel-title
            %a{"data-toggle" => "collapse", :href => "#modifyusers"} How to: Modify users
        .panel-collapse.collapse.in{:id => "modifyusers"}
          .panel-body
            .col-sm-6
              %p 1. Click on dashboard
              %p 2. Click on 'Manage Users'
              %p 3. Here, all users on the system are displayed
              %p 4. You can either edit them, or delete them
              %p 5. If you delete them, they will be permantly deleted along with their activities/resources
            .col-sm-6
