- content_for :title, "Home"


.search-container
  .searchtext
    %h1 Search Heppsy
    %p Find educational resources, events + more. Use filters for a more advanced match
  .searchbox
    %input{:type=>"text", :required => true}
  .filter-container
    .filter-box
      %p Event
    .filter-box
      %p Resource
    .filter-box
      %p Students
    .filter-box
      %p Teachers
    .filter-box#more-filters
      %p + Filters

.popular-events-container
  .popular-events-inner-container
    .populartext
      %h1 Popular events
      %table
        %tbody
          %tr
            %td.event-date 11-04-2018
            %td.event-title TUOS Open Day
            %td.event-description Our biggest open day yet at The University of Sheffield.
            %td.event-likes
              71
              <i class="fa fa-thumbs-up"></i>
            %tr
              %td.event-date 07-11-2018
              %td.event-title Manchester University
              %td.event-description Look at the world-class resources in Manchester University.
              %td.event-likes
                51
                <i class="fa fa-thumbs-up"></i>
            %tr
              %td.event-date 13-05-2019
              %td.event-title Oxford College
              %td.event-description Visit our ancient buildings and take a stroll through history.
              %td.event-likes
                31
                <i class="fa fa-thumbs-up"></i>

  -#

        - @events.each do |event|
          %tr
            %td.event-date= event.startdate
            %td.event-title= event.name
            %td.event-description= event.description
            %td
              71
              <i class="fa fa-thumbs-up"></i>
