.activity-options-container
  .activity-options-innner-container
    .activity-action-option
      = button_to 'New Activity', new_activity_path, :method => "get"
    .activity-action-option
      = button_to 'New Resource', new_resource_path, :method => "get"

.generic-container
  .generic-header
    %h1 New Resource
    Here you can contribute to the website by adding a resource that is owned by you or your institution.

.form.container
  = render 'form'

%br
.activity-options-container
  .activity-options-innner-container
    .activity-action-option
      = button_to 'Back', resources_path

%br
