.event-options-container
  .event-options-innner-container
    .event-action-option
      = button_to 'New Event', new_event_path, :method => "get"
    .event-action-option
      = button_to 'New Resource', new_resource_path, :method => "get"

.generic-container
  .generic-header
    %h1 New resource

.form.container
  = render 'form'

= link_to 'Back', resources_path
