.container
  .well
    %p#notice= notice

    %p
      %b Title:
      = @resource.title
    %p
      %b Description:
      = @resource.description
    %p
      = link_to "Download", @resource.file.url, download: '' unless @resource.file.blank?
