.container

  %h1 Listing ages

  %table
    %thead
      %tr
        %th Name
        %th
        %th

    %tbody
      - @ages.each do |age|
        %tr
          %td= age.age
          %td= link_to 'Edit', edit_age_path(age)
          %td= link_to 'Destroy', age, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Age', new_age_path
