$teal: #1cb495
$light-purple: #b194d1
$light-orange: #ffab51

.form.container
  display: flex
  align-items: flex-start
  justify-content: center
  width: 70%

.form.container form
  width: 100%
  outline: none

.form-inputs.activities
  width: 100%

.form.container input:focus
  color: white
  background: $teal
  padding-left: 20px
  font-size: 20px
  border: none
  outline: none

.form.container btn btn-default
  color: white
  background: $teal

.form.container input
  background: white
  color: $teal
  width: 100%
  border-radius: 5px
  border: 1px solid $teal

.form.container file_field
  border: none

.request.changes
  width: 100%
