$teal: #1cb495

.search-container
  text-align: center

.searchtext
  margin: 20px

.searchbox input
  width: 70%
  height: 50px

.searchbox input
  width: 70%
  height: 50px

.searchbox input:focus
  color: white
  background: $teal
  padding-left: 20px
  font-size: 20px
  border: none
  outline: none
