nav
  padding: 1em
  


div.collapse.navbar-collapse
  float: right

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
  border-bottom: 2px solid
