$teal: #1cb495
$light-teal: #b4ede2
$nice-font: 'Nunito','Roboto',"proxima-nova","Proxima Nova", sans-serif

.results-container
  width: 100%
  text-align: center
  display: flex
  margin-top: 20px
  justify-content: center
  align-items: center

.results-inner
  width: 80%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  align-self: center

.results-inner tr:hover
  background-color: #eeeeee
  transition: 0.5s

.paginate-container
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  text-align: center

.paginate
  width: 70%
  display: flex
  justify-content: center
  align-items: center
  text-align: center

.results-inner table
  width: 100%

.results-inner tr
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  text-align: left
  border: 1px solid $light-teal
  border-radius: 5px
  margin-bottom: 20px
  padding: 10px

.result-title
  background: #737373
  padding: 10px
  border-radius: 5px
<<<<<<< HEAD
  font-size: 24px
  color: white !important
=======
  font-size: 30px
  color: white
>>>>>>> 66d1d7b78aa9c24908d531dea2a27b03d4b4f5b4

.result-title a
  width: 100%
  text-decoration: none

.result-description
  font-size: 22px
  color: black

.result-address
  font-size: 18px

.result-contact
  padding: 10px

.generic-header h3
  color: $teal
  font-family: $nice-font
