.form-inputs.activities
  = f.association :subjects, input_html: { class: 'select2' }
  = f.association :themes, input_html: { class: 'select2' }
  = f.association :deliveries, label_method: :method, input_html: { class: 'select2' }
  = f.association :ages, label_method: :age, input_html: { class: 'select2' }
