
.activity-options-container
  .activity-options-innner-container
    .activity-action-option
      = button_to 'New Activity', new_activity_path, :method => "get"
    .activity-action-option
      = button_to 'New Resource', new_resource_path, :method => "get"

.generic-container
  .generic-header
    %h1 New activity

.form.container
  = render 'form'

= link_to 'Back', activities_path
