<% if current_user.liked? @activity %>
    $('.like-btn').click(function(){
      $(this).liked
    });
<% else %>
    $('#like-btn').click(function(){
      this.removeClass('liked')
    });

<%end%>

$("#likes_<%= @activity.id %>").html("<p><%=@activity.get_upvotes.size %></p>")
